body {
    background: gray;
    position: relative;
}

span{
    position: relative;
    font-size: 40px;
    margin: 80px;
    top: 350px;

}

#score {
    text-align: center;
}
#buttons {
    margin-top: 20%;
    text-align: center;
}

button {
    width: 200px;
    height: 134px;
    margin: 20px;
    border: none;
}

#rockBtn {
    background:  url(./imgs/rock.jpg);
}

#paperBtn {
    background: url(./imgs/paper.jpg);
}

#scissorsBtn {
    background: url(./imgs/scissors.jpg);
}